@CHARSET "ISO-8859-1";

/*
Class: SWE 681
Author: Matthew Fadoul
Date: 3/30/2014
Modified from my CSS file from SWE 637.
*/
tr.member_public {
    background-color: #BBBBDD;
}
tr.member_yes {
    background-color: #66DD66;
}
tr.member_no {
    background-color: #DD6666;
}

a:hover {background-color:yellow;}

body { 
    font-family: arial, helvetica, sans-serif;
    font-size: small;
    background-color: #EEEECC 
}

h1.title {
    color:black;
}
